<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567605560538-tbse2nemijpbf3tqfke1cqhivgularth.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567605560538-tbse2nemijpbf3tqfke1cqhivgularth</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>567605560538-ochjn9lojl34dttod0g4umihqopi51kp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB9F-Ui923yz04I35xoTEhtoOBcpn8gwqk</string>
	<key>GCM_SENDER_ID</key>
	<string>567605560538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hoc.loadmore</string>
	<key>PROJECT_ID</key>
	<string>cndd-3f0b1</string>
	<key>STORAGE_BUCKET</key>
	<string>cndd-3f0b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567605560538:ios:8061e8ed70915f4c</string>
	<key>DATABASE_URL</key>
	<string>https://cndd-3f0b1.firebaseio.com</string>
</dict>
</plist>